<div class="container" ng-controller="HomeController as home">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Products</h1>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-default btn-block" ng-click="home.navigateToCollars()">Collars</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" ng-click="home.navigateToTreats()">Treats</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" ng-click="home.navigateToHouses()">Dog Houses</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" ng-click="home.navigateToBeds()">Dog Beds</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-default btn-block" ng-click="home.navigateToCart()">Go To Cart</button>
        </div>
    </div>
</div>